:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f7f7f8;
  --border-input: #d4d4da;
  --border-card: #e7e7ea;
  --text-foreground-1: #18181b;
  --text-foreground-2: #71717a;
  --text-accent: #ffffff;
  --primary: #7324f1;
  --bg-selected: #f2ebff;
  --bg-danger: #fff1f2;
  --text-danger: #dc3545;
  --border-danger: #f1aeb5;
  --button-danger: #d2343e;
  --bg-success: #ecfdf5;
  --text-success: #16805c;
  --border-success: #6ee7b7;
  --bg-warning: #fff8eb;
  --text-warning: #a65f0b;
  --border-warning: #e7ad62;
  --bg-neutral: #f4f4f5;
  --text-neutral: #52525b;
  --border-neutral: #d4d4d8;
  --overlay: rgba(0, 0, 0, 0.35);
  --bg-payment-1: #ecfdf5;
  --text-payment-1: #16805c;
  --border-payment-1: #6bb99c;
  --bg-payment-2: #faf0ff;
  --text-payment-2: #9333c9;
  --border-payment-2: #c084dc;
  --bg-payment-3: #eff6ff;
  --text-payment-3: #3563b8;
  --border-payment-3: #82a5ea;
}

.dark {
  --bg-primary: #0a0a0a;
  --bg-secondary: #100f11;
  --border-input: #494953;
  --border-card: #222226;
  --text-foreground-1: #ffffff;
  --text-foreground-2: #787884;
  --text-accent: #ffffff;
  --primary: #7324f1;
  --bg-selected: #0a0610;
  --bg-danger: #280d0f;
  --text-danger: #ef646d;
  --border-danger: #bc3d6a;
  --button-danger: #d2343e;
  --bg-success: #0d1d16;
  --text-success: #6ee7b7;
  --border-success: #6ee7b7;
  --bg-warning: #26190a;
  --text-warning: #dd9338;
  --border-warning: #94642a;
  --bg-neutral: #242424;
  --text-neutral: #c1c1c1;
  --border-neutral: #9d9d9d;
  --overlay: rgba(0, 0, 0, 0.5);
  --bg-payment-1: #0d1d16;
  --text-payment-1: #6ee7b7;
  --border-payment-1: #407f66;
  --bg-payment-2: #211029;
  --text-payment-2: #c25df5;
  --border-payment-2: #6a3a82;
  --bg-payment-3: #0e1626;
  --text-payment-3: #82a5ea;
  --border-payment-3: #43609a;
}
